@import "theme-editor.css";
@import url('fontawesome-6.5.2/css/all.min.css');

html {
    --lumo-font-size: 1rem;
    --lumo-font-size-xxxl: 1.75rem;
    --lumo-font-size-xxl: 1.375rem;
    --lumo-font-size-xl: 1.125rem;
    --lumo-font-size-l: 1rem;
    --lumo-font-size-m: 0.875rem;
    --lumo-font-size-s: 0.8125rem;
    --lumo-font-size-xs: 0.75rem;
    --lumo-font-size-xxs: 0.6875rem;
    --lumo-line-height-m: 1.4;
    --lumo-line-height-s: 1.2;
    --lumo-line-height-xs: 1.1;
    --lumo-size-xl: 3rem;
    --lumo-size-l: 2.5rem;
    --lumo-size-m: 2rem;
    --lumo-size-s: 1.75rem;
    --lumo-size-xs: 1.5rem;
    --lumo-space-xl: 1.65rem;
    --lumo-space-l: 1rem;
    --lumo-space-m: 0.4rem;
    --lumo-space-s: 0.25rem;
    --lumo-space-xs: 0.15rem;
}

vaadin-checkbox:disabled,
vaadin-checkbox[disabled],
vaadin-radio-button:disabled,
vaadin-radio-button[disabled] {
    display: none;
}

.v-drag-over-target {
    outline: 1px solid var(--lumo-success-color);
}

vaadin-grid.force-focus-outline::part(body-cell focused-cell)::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    box-shadow: inset 0 0 0 2px var(--lumo-primary-color-50pct);
}

vaadin-grid::part(cell) {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
